@import "./base.css";

.forest-theme.video-container {
  background-color: #fef3e2;
}
.forest-theme .control-button {
  background-color: #afd198;
}
.forest-theme .control-button:hover:not(:disabled) {
  background-color: #4a6832;
  transform: scale(1.05);
}

.forest-theme .vjs-control-bar {
  background-color: #e8efcf !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #4a6832 !important;
}
.forest-theme .vjs-play-control {
  background-color: #c5d9a6;
  color: white;
  transition: background-color 0.3s ease;
}
.forest-theme .vjs-play-control:hover {
  background-color: #b3cf8f;
}

.forest-theme .vjs-volume-level {
  background-color: #4a6832 !important;
}
.forest-theme .vjs-progress-holder {
  background-color: #e8efcf;
}
.forest-theme .vjs-slider-bar {
  background-color: #afd198;
}
.forest-theme .vjs-control-bar .vjs-play-progress {
  background-color: #4a6832;
}
.forest-theme .vjs-modal-dialog {
  background-color: #f0f8ee;
}
.forest-theme .video-js {
  overflow: hidden;
  background-color: #dbe8f3;
}

.forest-theme .video-js .vjs-playback-rate {
  border-radius: 5px;
  padding: 5px 10px;
  color: #4a6832;
}

.forest-theme .vjs-menu-content {
  background-color: #dbe8f3 !important;
}
